/* ----- Navigation bar ----- */
.sidenav-img{
    width: 95px !important;
    margin-top: 25px;
    margin-bottom: 25px;
}

.sidenav-mobile{
    margin-bottom: 8px;
}

.sidenav-mobile-button{
    margin-top: 15px;
}

.sidenav-mobile:hover{
    background-color: rgba(202, 202, 202, 0.096);
}

.brand-logo{
    font-size: 25px !important;
}

/* ----- Hero ----- */
.hero{
    width: 100%;
    height: 1028px;
    background-image: url('../rsc/hero-wallapaper2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-img{
    width: 70px !important;
    margin-top: 55px;
}

.hero-title{
    font-size: 45px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 50px;
}

.card-title-hero{
    font-size: 30px !important;
    margin-top: 5px !important;
    margin-bottom: 30px !important;
}

.card-content{
    font-size: 16px;
}

.btn-hero{
    width: 200px;
    height: 53px;
}

/* ----- image sections ----- */

.image-section-1{
    width: 100%;
    height: 40vh;
    background-image: url('../rsc/parallax1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.image-section-2{
    width: 100%;
    height: 40vh;
    background-image: url('../rsc/parallax2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.image-section-3{
    width: 100%;
    height: 40vh;
    background-image: url('../rsc/parallax3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ----- Store any file ----- */

.store-any-file{
    width: 100%;
    height: 60vh;
}

.store-info{
    text-align: center;
}

.store-title{
    font-weight: 200;
}

.store-text{
    font-size: 15px;
}

/* ----- Stuff anywhere ----- */

.stuff-anywhare{
    width: 100%;
    height: 60vh;
}

/* ----- Share files ----- */

.share-files{
    width: 100%;
    height: 60vh;
}

/* ----- Get started ----- */

.get-started{
    width: 100%;
    height: 60vh;
}
